# Credit Card Fraud Dataset


Limpieza y transformación de datos usando el dataset de Fraude de Tarjetas de Crédito


> Nota: El dataset está disponible en: [Credit Card Dataset](https://www.kaggle.com/datasets/kartik2112/fraud-detection/data)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("fraudTrain.csv")
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [6]:
df.shape

(1296675, 23)

In [7]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [8]:
df.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

## Eliminar Columnas

In [9]:
df.drop(columns=["Unnamed: 0", "cc_num", "first", "last", "street", "lat", "long", "zip", "dob", "trans_num", "unix_time", "merch_lat", "merch_long"], inplace=True)

In [10]:
df.head()

,trans_date_trans_time,merchant,category,amt,gender,city,state,city_pop,job,is_fraud
0,2019-01-01 00:00:18,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,3495,"Psychologist, counselling",0
1,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,149,Special educational needs teacher,0
2,2019-01-01 00:00:51,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,4154,Nature conservation officer,0
3,2019-01-01 00:01:16,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,1939,Patent attorney,0
4,2019-01-01 00:03:06,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,99,Dance movement psychotherapist,0

## Limpieza de Valores Nulos

In [11]:
df.isna().sum()

trans_date_trans_time    0
merchant                 0
category                 0
amt                      0
gender                   0
city                     0
state                    0
city_pop                 0
job                      0
is_fraud                 0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df["state"].value_counts()

state
TX    94876
NY    83501
PA    79847
CA    56360
OH    46480
MI    46154
IL    43252
FL    42671
AL    40989
MO    38403
MN    31714
AR    31127
NC    30266
WI    29368
VA    29250
SC    29190
KY    28475
IN    27580
IA    26985
OK    26671
MD    26193
GA    26063
WV    25691
NJ    24603
NE    24168
KS    22996
MS    21188
LA    20965
WY    19322
WA    18924
OR    18597
TN    17554
ME    16505
NM    16407
ND    14786
CO    13880
MA    12376
SD    12324
VT    11768
MT    11754
AZ    10770
UT    10699
NH     8278
CT     7702
NV     5607
ID     5545
DC     3613
HI     2559
AK     2120
RI      550
DE        9
Name: count, dtype: int64

## Transformación de Columnas

In [14]:
state_abbreviations = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

df['state'] = df['state'].map(state_abbreviations)
df['state'].unique()

array(['North Carolina', 'Washington', 'Idaho', 'Montana', 'Virginia',
       'Pennsylvania', 'Kansas', 'Tennessee', 'Iowa', 'West Virginia',
       'Florida', 'California', 'New Mexico', 'New Jersey', 'Oklahoma',
       'Indiana', 'Massachusetts', 'Texas', 'Wisconsin', 'Michigan',
       'Wyoming', 'Hawaii', 'Nebraska', 'Oregon', 'Louisiana', nan,
       'Kentucky', 'New York', 'Mississippi', 'Utah', 'Alabama',
       'Arkansas', 'Maryland', 'Georgia', 'Maine', 'Arizona', 'Minnesota',
       'Ohio', 'Colorado', 'Vermont', 'Missouri', 'South Carolina',
       'Nevada', 'Illinois', 'New Hampshire', 'South Dakota', 'Alaska',
       'North Dakota', 'Connecticut', 'Rhode Island', 'Delaware'],
      dtype=object)

Hay algunos valores que no coinciden con alguno de los valores del diccionario, por ello estos datos se eliminan

In [15]:
df.isna().sum()

trans_date_trans_time       0
merchant                    0
category                    0
amt                         0
gender                      0
city                        0
state                    3613
city_pop                    0
job                         0
is_fraud                    0
dtype: int64

In [16]:
df.dropna(inplace=True)
df.isna().sum()

trans_date_trans_time    0
merchant                 0
category                 0
amt                      0
gender                   0
city                     0
state                    0
city_pop                 0
job                      0
is_fraud                 0
dtype: int64

### Cambio de la columna is_fraud para ser tratada como booleano

In [17]:
df["is_fraud"] = df["is_fraud"].map({0: "FALSE", 1: "TRUE"})

### Cambio de la columna merchant para quitar una expresión

In [18]:
df['merchant'] = df['merchant'].str.replace('fraud_', '', regex=False)

In [19]:
df.head()

,trans_date_trans_time,merchant,category,amt,gender,city,state,city_pop,job,is_fraud
0,2019-01-01 00:00:18,"Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,North Carolina,3495,"Psychologist, counselling",FALSE
1,2019-01-01 00:00:44,"Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,Washington,149,Special educational needs teacher,FALSE
2,2019-01-01 00:00:51,Lind-Buckridge,entertainment,220.11,M,Malad City,Idaho,4154,Nature conservation officer,FALSE
3,2019-01-01 00:01:16,"Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,Montana,1939,Patent attorney,FALSE
4,2019-01-01 00:03:06,Keeling-Crist,misc_pos,41.96,M,Doe Hill,Virginia,99,Dance movement psychotherapist,FALSE

## Exportación del dataset limpio

In [20]:
df.to_csv("./fraudTrain_cleaned.csv", index=False)